
  
#header {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: solid darkslategray;
    border-bottom-width: 7px;
}

.navbar {
    background-color: teal;
}
.navbar-brand {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px;
}


.imgFluid {
    padding: 10px;
    margin: 20px; 
    border-width: 10px;
    border: solid;
    float: left;
}

.container {
    margin: 30px 10px;
    padding: 10px 10px;
    flex-flow: wrap;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color: white;
    text-align: center;
}

#khTheme {
    font-family: 'Questrial',sans-serif;
    font-size: 18px;
    padding: -20px 0px;
    margin: 5px;
}

#titleMe {
    font-family: 'Questrial',    sans-serif;
    font-style: oblique;
    font-size: 35px;
}

