
#header {
    font-family: 'Questrial', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: solid darkslategray;
    border-bottom-width: 7px;
}

.navbar {
    background-color: lightpink;
}
.navbar-brand {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px;
}


.imgFluid {
    padding: 10px;
    margin: 20px; 
    border-width: 30px;
    border: solid;
    justify-content: center;
    float: left;
}

.container {
    margin: 30px 10px;
    padding: 10px 10px;
    justify-content: space-between;

}

#khTheme {
    font-family: 'Questrial',sans-serif;
    font-size: 18px;
    padding: -20px 0px;
    margin: 5px;
}

#titleMe {
    font-family: 'Questrial',    sans-serif;
    font-style: oblique;
    font-size: 35px;
}

