 

.jumbotron {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    padding-left: 15px;
}

.w3-bar {
    font-family: 'Yeseva One', cursive;
    background-color: lightseagreen;
}

img {
    padding: 10px;
    margin: 10px;
    border: 20px;
    border-width: 35px; 
}


main.container {
    background-color: lightgray;
    margin: 15px;
    padding: 15px;
}

p {
    font-family: 'Crimson Text', serif;
    text-justify: auto;
    font-size: 24px;
    flex-wrap: wrap;
    border-top: thin;
    border-style: solid;
}


